<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>
<body>
     <%- include('./partials/nav.ejs')%>

    <div class="create-blogs content">
        <br>
        <h2>BLOGSSSSSS</h2>
        <form>
            <label for="title">Blog title</label>
            <input type="text" id="'title required">
            <label for="snippet">Blog Snippet</label>
            <input type="text" id="snipper" required>
            <label for="body">Blog Body</label>
            <textarea id="'body" required></textarea>
            <button>Submit</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs')%>
    
</body>
</html>